<section class="hero is-black is-large">
    <div class="hero-head">
        <div class="navbar" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        {{- partial "svg/logo.svg" . -}}
                    </a>
                    <a class="navbar-burger" role="button" data-target="npt-navbar-menu" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="npt-navbar-menu" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item active" href="/">About</a>
                        <a class="navbar-item" href="/why">Why?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <p class="title is-2">Under Construction</p>
        </div>
    </div>
</section>